/*@import '~antd/dist/antd.css';*/

.m5 {
    margin: 5px;
}

.ml-15 {
    margin-left: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.ptb-10 {
    padding: 10px 0px;
}

.cursor {
    cursor: pointer;
}

.cursor:hover {
    color: red;
}

.layout {
    .logo {
        width: 120px;
        height: 31px;
        line-height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
        text-align: center;
    }
    > .ant-layout-content {
        width: 80%;
        margin: auto;
        overflow-y: auto;
        height: calc(100vh - 106px);
        .ant-layout {
            height: 100%;
            background: #fff;
        }
    }
    .ant-layout-footer {
        padding: 10px 50px;
        text-align: center;
    }
    .ant-pagination {
        text-align: center;
        margin-bottom: 10px;
    }
    .ant-result {
        margin: auto;
    }
}

.home-content {
    height: 100%;
    background: #FFF;
    text-align: center;
}

.search-content {
    h3 {
        padding: 5px;
        color: #f4f2ef;
        border-radius: 4px;
        background-color: #cab389;
    }
    p {
        margin-top: 1em;
        i {
            border: 2px solid #cab389;
            background: #cab389;
            margin-right: 4px;
        }
    }
}

.booklist-content {
    padding: 10px 0px;
    .img {
        float: left;
        width: 90px;
        height: 120px;
        border: 1px solid #ebebeb;
        box-shadow: 2px 4px 6px #bbb;
    }
    .right {
        height: 120px;
        margin-left: 105px;
        p {
            margin: 0px;
            text-align: left;
        }
        .name {
            height: 22px;
            line-height: 22px;
            font-weight: 700;
        }
        .author {
            height: 28px;
            line-height: 28px;
        }
        .desc {
            height: 40px;
            text-overflow: ellipsis;
            overflow: hidden
        }
        .popularity {
            height: 28px;
            line-height: 28px;
            margin-top: 10px !important;
            span {
                color: #D82626;
            }
        }
    }
}

.bookinfo-content {
    display: flex;
    background: #fff;
    border: 1px solid #ccc;
    .img {
        width: 155px;
        margin: 10px;
        border: 1px solid #ebebeb;
        box-shadow: 2px 4px 6px #bbb;
    }
    .right-content {
        width: 100%;
        margin: 10px;
        .content-data {
            display: flex;
            .data-info {
                flex: auto;
                p:first-child {
                    height: 28px;
                    line-height: 22px;
                    font-size: 20px;
                    font-weight: 700;
                }
                p {
                    margin: 0px;
                    height: 28px;
                    line-height: 28px;
                    font-size: 16px;
                }
            }
        }
        .long-intro {
            margin: 0px;
            font-size: 14px;
            padding-top: 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            border-top: 1px dashed rgb(204, 204, 204);
        }
    }
}

.popularity-content {
    margin-top: 10px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    p {
        margin-top: 1em;
    }
    .popularity-p {
        font-size: 18px;
        font-weight: 700;
        color: #d82626;
    }
}

.catalog-content {
    margin-top: 10px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    .catalog-p {
        padding: 8px;
        margin: 0px;
        font-weight: 700;
        background-color: #ccc;
    }
    .chapter-li {
        width: 25%;
        float: left;
        height: 35px;
        line-height: 35px;
        list-style: none;
        text-align: left;
        overflow: hidden;
        cursor: pointer;
        border-bottom: 1px dotted rgb(204, 204, 204);
    }
    .text-danger {
        color: #d82626;
    }
}

.book-shelf {
    height: 100%;
    background: #FFF;
    .shelf-info {
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #2c3e50;
        span {
            color: #d82626;
            font-weight: 700;
        }
    }
    .book-list {
        display: flex;
        padding: 10px;
        img {
            width: 90px;
            height: 120px;
            cursor: pointer;
            border: 1px solid #ebebeb;
            box-shadow: 2px 4px 6px #bbb;
        }
        .book-info {
            flex: auto;
            padding: 0px 10px;
            p {
                margin: 0px;
                height: 26px;
                line-height: 26px;
                overflow: hidden;
            }
            p:first-child {
                height: 22px;
                line-height: 22px;
                font-weight: 700;
            }
        }
    }
}

.book-chapter {
    line-height: 32px;
    background: #e9e6d0;
    padding: 10px 10px 20px;
    .chapter-btn {
        display: flex;
        align-items: center;
        div:first-child {
            flex: auto;
            font-size: 16px;
        }
    }
    .chapter-content {
        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    }
}

.book-search {
    height: 100%;
    background: #FFF;
    .search-info {
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #2c3e50;
        span {
            color: #d82626;
            font-weight: 700;
        }
    }
    .booklist-content {
        padding: 10px;
    }
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-size: 20px;
}
