/*@import '~antd/dist/antd.css';*/

.m5 {
    margin: 5px;
}

.cursor {
    cursor: pointer;
}

.cursor:hover {
    color: red;
}

.layout {
    .logo {
        width: 120px;
        height: 31px;
        line-height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
        text-align: center;
    }
    > .ant-layout-content {
        width: 1200px;
        margin: auto;
        height: calc(100vh - 128px);
        .ant-layout {
            height: 100%;
            background: #fff;
        }
    }
    .ant-layout-footer {
        padding: 21px 50px;
        text-align: center;
    }
    .ant-pagination {
        text-align: center;
        margin-bottom: 10px;
    }
    .ant-result {
        margin: auto;
    }
}

.search-content {
    h3 {
        padding: 5px;
        color: #f4f2ef;
        border-radius: 4px;
        background-color: #cab389;
    }
    p {
        margin-top: 1em;
        i {
            border: 2px solid #cab389;
            background: #cab389;
            margin-right: 4px;
        }
    }
}

.booklist-content {
    padding: 10px 0px;
    .img {
        float: left;
        width: 90px;
        height: 120px;
        border: 1px solid #ebebeb;
        box-shadow: 2px 4px 6px #bbb;
    }
    .right {
        height: 120px;
        margin-left: 105px;
        p {
            margin: 0px;
            text-align: left;
        }
        .name {
            height: 22px;
            line-height: 22px;
            font-weight: 700;
        }
        .author {
            height: 28px;
            line-height: 28px;
        }
        .desc {
            height: 40px;
            text-overflow: ellipsis;
            overflow: hidden
        }
        .popularity {
            height: 28px;
            line-height: 28px;
            margin-top: 10px !important;
            span {
                color: #D82626;
            }
        }
    }
}

